In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Import BTC-USD.csv
btc_file="Resources/BTC-USD.csv"
btc_usd_df=pd.read_csv(btc_file)
btc_usd_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,9/17/2014,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0
1,9/18/2014,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0
2,9/19/2014,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0
3,9/20/2014,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0
4,9/21/2014,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0

In [3]:
#Import ETH-USD.csv
eth_file="Resources/ETH-USD.csv"
eth_usd_df=pd.read_csv(eth_file)
eth_usd_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,11/9/2017,308.644989,329.451996,307.056000,320.884003,320.884003,8.932500e+08
1,11/10/2017,320.670990,324.717987,294.541992,299.252991,299.252991,8.859860e+08
2,11/11/2017,298.585999,319.453003,298.191986,314.681000,314.681000,8.423010e+08
3,11/12/2017,314.690002,319.153015,298.513000,307.907990,307.907990,1.613480e+09
4,11/13/2017,307.024994,328.415009,307.024994,316.716003,316.716003,1.041890e+09

In [4]:
# Adding a daily percent change column
btc_percent_change = ((btc_usd_df["Close"]-btc_usd_df["Open"])/btc_usd_df["Open"])*100
btc_usd_df["Daily Percent Change"] = btc_percent_change

eth_percent_change = ((eth_usd_df["Close"]-eth_usd_df["Open"])/eth_usd_df["Open"])*100
eth_usd_df["Daily Percent Change"] = eth_percent_change

In [5]:
# Renamed BTC columns
btc_rename=btc_usd_df.rename (columns={"Open":"BTC Open",
                                      "High":"BTC High",
                                      "Low":"BTC Low",
                                      "Close":"BTC Close",
                                      "Adj Close":"BTC Adj Close",
                                      "Volume":"BTC Volume",
                                      "Daily Percent Change":"BTC Daily Percent Change"})

btc_rename.head()

,Date,BTC Open,BTC High,BTC Low,BTC Close,BTC Adj Close,BTC Volume,BTC Daily Percent Change
0,9/17/2014,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0,-1.831006
1,9/18/2014,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0,-7.096262
2,9/19/2014,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0,-6.910351
3,9/20/2014,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0,3.605767
4,9/21/2014,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0,-2.270110

In [6]:
# Renamed ETH columns
eth_rename=eth_usd_df.rename (columns={"Open":"ETH Open",
                                      "High":"ETH High",
                                      "Low":"ETH Low",
                                      "Close":"ETH Close",
                                      "Adj Close":"ETH Adj Close",
                                      "Volume":"ETH Volume",
                                      "Daily Percent Change":"ETH Daily Percent Change"})

eth_rename.head()

,Date,ETH Open,ETH High,ETH Low,ETH Close,ETH Adj Close,ETH Volume,ETH Daily Percent Change
0,11/9/2017,308.644989,329.451996,307.056000,320.884003,320.884003,8.932500e+08,3.965402
1,11/10/2017,320.670990,324.717987,294.541992,299.252991,299.252991,8.859860e+08,-6.679120
2,11/11/2017,298.585999,319.453003,298.191986,314.681000,314.681000,8.423010e+08,5.390407
3,11/12/2017,314.690002,319.153015,298.513000,307.907990,307.907990,1.613480e+09,-2.155141
4,11/13/2017,307.024994,328.415009,307.024994,316.716003,316.716003,1.041890e+09,3.156423

In [7]:
# Setting the Date column as index
btc_final_df=btc_rename.set_index(["Date"])
btc_final_df.head()

,BTC Open,BTC High,BTC Low,BTC Close,BTC Adj Close,BTC Volume,BTC Daily Percent Change
Date,,,,,,,
9/17/2014,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0,-1.831006
9/18/2014,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0,-7.096262
9/19/2014,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0,-6.910351
9/20/2014,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0,3.605767
9/21/2014,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0,-2.270110

In [8]:
# Setting the Date column as index
eth_final_df=eth_rename.set_index(["Date"])
eth_final_df.head()

,ETH Open,ETH High,ETH Low,ETH Close,ETH Adj Close,ETH Volume,ETH Daily Percent Change
Date,,,,,,,
11/9/2017,308.644989,329.451996,307.056000,320.884003,320.884003,8.932500e+08,3.965402
11/10/2017,320.670990,324.717987,294.541992,299.252991,299.252991,8.859860e+08,-6.679120
11/11/2017,298.585999,319.453003,298.191986,314.681000,314.681000,8.423010e+08,5.390407
11/12/2017,314.690002,319.153015,298.513000,307.907990,307.907990,1.613480e+09,-2.155141
11/13/2017,307.024994,328.415009,307.024994,316.716003,316.716003,1.041890e+09,3.156423

In [10]:
#Joined the Dataframes on the Date
combined_df=btc_final_df.merge(eth_final_df,left_index=True,right_index=True)
combined_df

,BTC Open,BTC High,BTC Low,BTC Close,BTC Adj Close,BTC Volume,BTC Daily Percent Change,ETH Open,ETH High,ETH Low,ETH Close,ETH Adj Close,ETH Volume,ETH Daily Percent Change
Date,,,,,,,,,,,,,,
11/9/2017,7446.830078,7446.830078,7101.520020,7143.580078,7143.580078,3.226250e+09,-4.072202,308.644989,329.451996,307.056000,320.884003,320.884003,8.932500e+08,3.965402
11/10/2017,7173.729980,7312.000000,6436.870117,6618.140137,6618.140137,5.208250e+09,-7.744783,320.670990,324.717987,294.541992,299.252991,299.252991,8.859860e+08,-6.679120
11/11/2017,6618.609863,6873.149902,6204.220215,6357.600098,6357.600098,4.908680e+09,-3.943574,298.585999,319.453003,298.191986,314.681000,314.681000,8.423010e+08,5.390407
11/12/2017,6295.450195,6625.049805,5519.009766,5950.069824,5950.069824,8.957350e+09,-5.486190,314.690002,319.153015,298.513000,307.907990,307.907990,1.613480e+09,-2.155141
11/13/2017,5938.250000,6811.189941,5844.290039,6559.490234,6559.490234,6.263250e+09,10.461672,307.024994,328.415009,307.024994,316.716003,316.716003,1.041890e+09,3.156423
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5/20/2022,30311.119140,30664.976560,28793.605470,29200.740230,29200.740230,3.074938e+10,-3.663273,2018.000122,2054.795898,1926.676758,1961.315674,1961.315674,1.589248e+10,-2.808942
5/21/2022,29199.859380,29588.869140,29027.394530,29432.226560,29432.226560,1.727484e+10,0.795782,1961.017944,1985.395996,1944.265137,1974.518311,1974.518311,8.546822e+09,0.688437
5/22/2022,29432.472660,30425.861330,29275.183590,30323.722660,30323.722660,2.163153e+10,3.028118,1974.670654,2047.191406,1966.038818,2043.170166,2043.170166,1.094112e+10,3.468908
5/23/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5/24/2022,29083.347660,29280.664060,29083.347660,29275.783200,29275.783200,3.177276e+10,0.661669,1971.668945,1987.695068,1971.668945,1987.523682,1987.523682,1.616278e+10,0.804128

In [19]:
#Dropping null values
combined_df = combined_df.dropna()

combined_df.head()

,BTC Open,BTC High,BTC Low,BTC Close,BTC Adj Close,BTC Volume,BTC Daily Percent Change,ETH Open,ETH High,ETH Low,ETH Close,ETH Adj Close,ETH Volume,ETH Daily Percent Change
Date,,,,,,,,,,,,,,
11/9/2017,7446.830078,7446.830078,7101.520020,7143.580078,7143.580078,3.226250e+09,-4.072202,308.644989,329.451996,307.056000,320.884003,320.884003,8.932500e+08,3.965402
11/10/2017,7173.729980,7312.000000,6436.870117,6618.140137,6618.140137,5.208250e+09,-7.744783,320.670990,324.717987,294.541992,299.252991,299.252991,8.859860e+08,-6.679120
11/11/2017,6618.609863,6873.149902,6204.220215,6357.600098,6357.600098,4.908680e+09,-3.943574,298.585999,319.453003,298.191986,314.681000,314.681000,8.423010e+08,5.390407
11/12/2017,6295.450195,6625.049805,5519.009766,5950.069824,5950.069824,8.957350e+09,-5.486190,314.690002,319.153015,298.513000,307.907990,307.907990,1.613480e+09,-2.155141
11/13/2017,5938.250000,6811.189941,5844.290039,6559.490234,6559.490234,6.263250e+09,10.461672,307.024994,328.415009,307.024994,316.716003,316.716003,1.041890e+09,3.156423

In [17]:
# Creating a raw combined dataframe by appending all entries

#Adding a column to label the type of cryptocurrency
btc_usd_df["Crypto"] = "BTC"
eth_usd_df["Crypto"] = "ETH"

#Appending the dataframes together
raw_combined_df = btc_usd_df.append(eth_usd_df)

#Converting the Date column to datetime and sorting it ascending
raw_combined_df['Date'] = pd.to_datetime(raw_combined_df['Date'], format='%m/%d/%Y')
raw_combined_df = raw_combined_df.sort_values(by=["Date"])

#Dropping null values
raw_combined_df = raw_combined_df.dropna()

#Reset the index
raw_combined_df = raw_combined_df.reset_index(drop = True)

#Reorganize columns
raw_combined_df = raw_combined_df[["Date","Crypto","Open","High","Low","Close","Adj Close","Volume","Daily Percent Change"]]

raw_combined_df

,Date,Crypto,Open,High,Low,Close,Adj Close,Volume,Daily Percent Change
0,2014-09-17,BTC,465.864014,468.174011,452.421997,457.334015,457.334015,2.105680e+07,-1.831006
1,2014-09-18,BTC,456.859985,456.859985,413.104004,424.440002,424.440002,3.448320e+07,-7.096262
2,2014-09-19,BTC,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07,-6.910351
3,2014-09-20,BTC,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07,3.605767
4,2014-09-21,BTC,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07,-2.270110
...,...,...,...,...,...,...,...,...,...
4458,2022-05-21,BTC,29199.859380,29588.869140,29027.394530,29432.226560,29432.226560,1.727484e+10,0.795782
4459,2022-05-22,BTC,29432.472660,30425.861330,29275.183590,30323.722660,30323.722660,2.163153e+10,3.028118
4460,2022-05-22,ETH,1974.670654,2047.191406,1966.038818,2043.170166,2043.170166,1.094112e+10,3.468908
4461,2022-05-24,BTC,29083.347660,29280.664060,29083.347660,29275.783200,29275.783200,3.177276e+10,0.661669
4462,2022-05-24,ETH,1971.668945,1987.695068,1971.668945,1987.523682,1987.523682,1.616278e+10,0.804128